zstack_host              = "zstack.example.com"
zstack_port              = 8080
zstack_access_key_id     = "replace-me"
zstack_access_key_secret = "replace-me"

image_name             = "Ubuntu-24.04"
l3_network_name        = "default-l3"
instance_offering_name = "small"
disk_offering_name     = "data-20g"
zone_name              = "zone-1"
cluster_name           = "cluster-1"
host_name              = "host-1"
