zstack_host              = "zstack.example.com"
zstack_port              = 8080
zstack_access_key_id     = "replace-me"
zstack_access_key_secret = "replace-me"

tag_name        = "environment"
tag_description = "Environment tag managed by Terraform"
tag_value       = "production"
tag_color       = "#57D355"
resource_uuids  = ["replace-me"]
